body {
    font-family: 'Poppins', sans-serif;
    background: url('nature.jpg') no-repeat center center/cover;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
}


.container {
    background: rgba(255, 255, 255, 0.9); 
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    text-align: center;
    margin: 20px 0;
}


h1 {
    font-size: 24px;
    color: #333;
    font-weight: 600;
    margin-bottom: 10px;
}



.sub-heading {
    color: #777;
    font-size: 14px;
    margin-bottom: 20px;
}

.letter-box {
    text-align: left;
    padding: 20px;
    background: #f9f9f9;
    border-radius: 8px;
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.05);
}

.letter-box p {
    line-height: 1.6;
    color: #444;
}

.download-btn {
    margin-top: 5px;
    padding: 10px 15px;
    border: none;
    background: #007bff;
    color: white;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    transform: scale(1);
    transition: background 0.3s ease;
}

.download-btn:hover {
    background: #0056b3;
    transform: scale(1.1);
}

.review{
    opacity: 90%;
}
.footer{
    opacity: 70%;
}
